html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: url("background.gif") no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.term {
  width: 42%;
  height: 42%;
  padding: 0.5em;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: stretch;
}

.term-history {
  display: flex;
  flex: 95 1 auto;
  align-self: flex-start;
  width: 100%;
}

.term-input {
  display: flex;
  flex: 5 1 auto;
  align-self: flex-start;
  width: 100%;
}

span {
  color: #18ff00;
  align-self: center;
}

input {
  background: none;
  border: none;
  color: #18ff00;
  flex: 1 1 auto;
  width: 100%;
}
